/* Elements CSS */
h1 {
    color: rgb(255, 255, 255);
}
div {
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
}
body {
    display: flex;
    background-color: rgb(185, 185, 185);
}

/* Left Side CSS */

#left-side {
    background-image: url("circle.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
}

#img-banner {
    background-color: rgba(50, 146, 255, 0.788);
    height: 20%;
    width: 100%;
    margin-top: 50%;
    display: flex;
    justify-content: center;
}

#atom-img {
    width: 200px;
    height: 200px;   
    margin: auto;    
    
}

/* Right Side CSS  */
#right-side{
    width: 50%;
}

#form-box {
   background-color: white;
    margin-top: 20%;
    /* margin-bottom: 10%; */
    margin-left: 0%;
    margin-right: 0%;
    height: 50%;
}

form {
    margin: auto;
    padding: 100%;
    padding-top: 106px;
    padding-left: 10%;
    padding-bottom: 0%;
}

.form
{
margin: 40px auto;
width: 100%;
line-height: 22px;

}
